
.center-card {
margin: auto;
margin-top: 20px;
text-align: center;

}
.space, .login-space {
margin-right: 5px;
}

.add-space {
  margin: 10px;
}
.line {
  width: 110%;
  margin-left: -15px;
}

.w-white-text, .d-white-text, .s-white-text {
  color: white;
}

.hidden {
  visibility: hidden;
}
.outside-card {
  background-color: whitesmoke;
  width: 95%;
  margin-left: 40px;
  border: 1px solid red;
  padding-bottom: 20px;
  border-radius: 15px;
}
.d-outside-card {
  background-color: whitesmoke;
  width: 95%;
  margin-left: 40px;
  border: 1px solid green;
  padding-bottom: 20px;
  border-radius: 15px;
}

/* add @media to get rid of border around d and w cards.*/