
.center-card {
margin: auto;
margin-top: 20px;
text-align: center;

}
.card-radius {
  margin: auto;
margin-top: 20px;
text-align: center;
}

.space, .login-space {
margin-right: 5px;
}

.add-space {
  margin: 10px;
}
.line {
  width: 110%;
  margin-left: -15px;
}

.w-white-text, .d-white-text, .s-white-text, .a-white-text {
  color: white;
}
.a-white-text{
  background-color: green;
  margin-top: 10px;
}

.hidden {
  visibility: hidden;
}
.outside-card {
  background-color: whitesmoke;
  width: 95%;
  margin-left: 40px;
  border: 1px solid red;
  padding-bottom: 20px;
  border-radius: 15px;
}
.d-outside-card {
  background-color: whitesmoke;

 
  border: 1px solid green;
  padding-bottom: 20px;
  border-radius: 15px;
}

.title {
  background-color: green;
}
.div {
  border: 2px solid green;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.form-check {
  width: 5rem;
  margin: auto;
text-align: center;
}


.top {
  margin-top: 20px;
}

.width {
  width: 15rem;
  font-size: 12px;
}
.check {
  width: 10rem;
}
.box {
  width: 130px;
}

@media only screen and (max-width: 800px) {
  .d-outside-card, .outside-card {
  margin-left: 0px;
  width: 100%;
  }
  
  .center-card {
    width: 15rem;
  }
}


/* add @media to get rid of border around d and w cards.*/